head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
  meta(http-equiv='Content-Security-Policy' content='upgrade-insecure-requests')
  title News Progressive Web App
  link(rel='stylesheet', href='/css/main.css')
  link(rel='preload', href='/fonts/Amstelvar-Roman-VF.woff2', as='font', crossorigin)
  link(rel='preload', href='/js/lazyload.mjs', as='script', crossorigin)
  link(rel='preload', href='/js/main.mjs', as='script', crossorigin)
  link(rel='preload', href='/img/placeholder.svg', as='image')
  link(rel='manifest', href='/manifest.webmanifest')
  link(rel='apple-touch-icon', sizes='120x120', href='/icons/newspaper_120x120.png')
  link(rel='apple-touch-icon', sizes='144x144', href='/icons/newspaper_144x144.png')
  link(rel='icon', href='/icons/newspaper_120x120.png')
  script.
    if (!('IntersectionObserver' in window)) {
      document.write('<script src="https://unpkg.com/intersection-observer@0.5.0/intersection-observer.js"><\/script>');
    }
    if (!('open' in document.createElement('details'))) {
      document.write('<script src="https://unpkg.com/details-element-polyfill@2.2.0/dist/details-element-polyfill.js"><\/script>');
    }
    if (!('HTMLPictureElement' in window)) {
      document.write('<script src="https://unpkg.com/picturefill@3.0.3/dist/picturefill.min"><\/script>');
    }
    document.documentElement.style.setProperty('--main-current-width', `${window.innerWidth - 8}px`);
  script(type='module', src='/js/lazyload.mjs', defer)
  script(type='module', src='/js/main.mjs', defer)
  script(nomodule, src='https://unpkg.com/@babel/polyfill@7.2.5/dist/polyfill.js', defer)
  script(nomodule, src='/js/bundle.js', defer)