:root {
  --main-bg-color: white;
  --main-headline-color: black;
  --secondary-headline-color: darkgray;
}

html {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
  font-size: 12pt;
  height: 100vh;
  width: 100%;
  min-width: 240px;
  max-width: 50em;
}

body > header {
  background-color: var(--main-headline-color);
}

h1 {
  color: var(--main-headline-color);
  font-size: 1.5em;
}

h2 {
  color: var(--secondary-headline-color);
  font-size: 1.25em;
}

figure img {
  max-width: 100%;
  height: auto;
}
